.cars {
    background-color: #fcfcfc;
    width: 100%;
    padding: 20px;
    overflow: auto;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    display: flex;
    justify-content: center;
}