.colorAddCars {
    background-color: #e5f8d9;
    background-position: 0;
    width:100%;
    
    float: left;

}

.AddBox {
    display: flex;
    justify-content: center;
    padding: 10px;
}



.malli {
    margin-left: 50%;
}

.nappi {
    margin-left: 50%;
}
