.cars {
    background-color: #e5f8d9;
    width: 100%;
    padding: 10px 30px;
    overflow: auto;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    margin-left: 6rem;
    display: flex;
    justify-content: center;
}