/* Style the video: 100% width and height to cover the entire window */
#headerContent {
  width: 95.8%;
  height: 80%;
  overflow: hidden;
  position: relative;
  margin-left: 5rem;
}

video {
  position: inherit;
  min-width: 100%;
  overflow: hidden;
  z-index: -1;
}

.HeaderP {
  position: absolute;
  text-align: center;
  font-size: 4em;
  z-index: 9999;
  color: rgb(0, 0, 0);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: "Times New Roman", Times, serif;
  text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
}

@media only screen and (max-width: 600px) {
  #headerContent {
    
    margin-left: 0rem;
  }
}